{% extends 'app/base.html' %}
{% load static %}

{% block search %} 

    <h3> Result search for {{searched}} </h3><br/>
    <div class="row" style="width:100%;">
        {% for product in keys %}
        <div class="col-lg-3">
          <img class="thumbnail" src="{{product.ImageURL}}">
          <div class="box-element product">
            <h6> <strong> {{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart "> Add to cart </button>
            <a class="btn btn-outline-successs" href="#"> Watch detail</a>
            <h4 style="display: inline-block; float: right"><strong>{{product.price}}</strong></h4>
          </div>
        </div>
        {% endfor %}
    </div>


{% endblock search %}